<div class="index-main-container" data-controller="user-coffees-index">
  <h1><%= t('.coffees_of', username: current_user.nickname) %></h1>

  <div class="actions-buttons">
    <%= link_to t('.new_coffee'), new_user_coffee_path, class: 'btn btn-primary' %>
  </div>

  <div class="index-items-list">
    <% @user_coffees.each do |user_coffee| %>
      <div class="index-item" data-user-coffee-index-target="item">
        <div class="index-item-content">
          <div class="item-content-line">
            <%= link_to user_coffee_path(user_coffee) do %>
              <h4><%= user_coffee.coffee.description %></h4>
            <% end %>
            <a href="<%= user_coffee_path(user_coffee, user_coffee: {archived: true})%>" data-action="click->user-coffees-index#archiveCoffee">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>
          <div class="item-content-line">
            <p><%= t(:roasting_date) %>: <strong><%= user_coffee.coffee.roasting_date ? l(user_coffee.coffee.roasting_date, format: :default) : t(:non_available) %></strong></p>
          </div>
          <div class="item-content-line">
            <p><%= t(:price) %>: <strong><%= number_to_currency(user_coffee.price) %></strong></p>
            <p><%= "#{user_coffee.weight_left}g / #{user_coffee.bag_weight}g" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
