<div class="index-main-container">
  <h1><%= current_user.nickname %>'s coffees</h1>
  <div class="actions-buttons">
    <%= link_to 'Add New', new_user_coffee_path, class: 'btn btn-primary' %>
  </div>

  <div class="index-items-list">
    <% @user_coffees.each do |user_coffee| %>
      <div class="index-item">
        <div class="index-item-content">
          <div class="item-content-line">
            <%= link_to user_coffee_path(user_coffee) do %>
              <h4><%= user_coffee.coffee.description %></h4>
            <% end %>
            <%= link_to  user_coffee_path(user_coffee, user_coffee: {archived: true}), data: {turbo_method: :patch, turbo_confirm: "Êtes-vous sûr?"} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
          <div class="item-content-line">
            <p>Roasting date: <strong><%= user_coffee.coffee.roasting_date %></strong></p>
          </div>
          <div class="item-content-line">
            <p>Price: <strong><%= user_coffee.price %></strong>€</p>
            <p><%= "#{user_coffee.weight_left}g / #{user_coffee.bag_weight}g" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
