<div class="index-main-container">
  <h1><%= t('.coffees_of', username: current_user.nickname) %></h1>
  <div class="actions-buttons">
    <%= link_to t('.new_coffee'), new_user_coffee_path, class: 'btn btn-primary' %>
  </div>

  <div class="index-items-list">
    <% @user_coffees.each do |user_coffee| %>
      <div class="index-item">
        <div class="index-item-content">
          <div class="item-content-line">
            <%= link_to user_coffee_path(user_coffee) do %>
              <h4><%= user_coffee.coffee.description %></h4>
            <% end %>
            <%= link_to  user_coffee_path(user_coffee, user_coffee: {archived: true}), data: {turbo_method: :patch, turbo_confirm: "Êtes-vous sûr?"} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
          <div class="item-content-line">
            <p><%= t(:roasting_date) %>: <strong><%= l user_coffee.coffee.roasting_date, format: :default %></strong></p>
          </div>
          <div class="item-content-line">
            <p><%= t(:price) %>: <strong><%= number_to_currency(user_coffee.price) %></strong></p>
            <p><%= "#{user_coffee.weight_left}g / #{user_coffee.bag_weight}g" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
