<div class="container">
  <div class="field">
    <div class="d-flex justify-content-between">
      <h2><%= @user_coffee.coffee.roaster %></h2>
      <p><strong><%= l @user_coffee.coffee.roasting_date, format: :default %></strong></p>
    </div>
    <h5><i><%= @user_coffee.coffee.name %></i></h5>

    <p><%= t(:price) %>: <strong><%= @user_coffee.price %></strong>€</p>
    <p><%= t(:weight_left) %>: <%= "#{@user_coffee.weight_left}g / #{@user_coffee.bag_weight}g" %></p>
    <%= simple_form_for @user_coffee, html: {style: "width: 100%;"} do |f| %>
      <%= f.input :personal_notes %>
      <%= f.submit t('.edit_note'), class: 'btn btn-outline-primary'%>
    <% end %>
  </div>
</div>
