<%= form_with(model: extraction, local: true) do |form| %>
  <% if extraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extraction.errors.count, "error") %> prohibited this extraction from being saved:</h2>

      <ul>
        <% extraction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brewing_method %>
    <%= form.text_field :brewing_method %>
  </div>

  <div class="field">
    <%= form.label :coffee_id %>
    <%= form.collection_select :coffee_id, Coffee.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :accessory_ids, "Select Brewer" %>
    <%= form.collection_select :accessory_ids, @brewer_accessories, :id, :name, {}, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :weight_in %>
    <%= form.number_field :weight_in %>
  </div>

  <div class="field">
    <%= form.label :weight_out %>
    <%= form.number_field :weight_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
