<div class="container mt-5">
  <h1>Dashboard</h1>

  <!-- Extractions Section -->
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>Recent Extractions</h2>
      <div>
        <%= link_to 'New Extraction', new_extraction_path, class: 'btn btn-primary mx-1' %>
        <%= link_to 'View All Extractions', extractions_path, class: 'btn btn-secondary mx-1' %>
      </div>
    </div>
    <div class="card-body">
      <% if @extractions.present? %>
        <ul class="list-group">
          <% @extractions.each do |extraction| %>
            <li class="list-group-item">
              <strong>Method:</strong> <%= extraction.brewing_method %> |
              <strong>Date:</strong> <%= l(extraction.created_at, format: :short) %>
              <p><%= extraction.comment %></p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No extractions found.</p>
      <% end %>
    </div>
  </div>

  <!-- User Coffees Section -->
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>Recent Coffees</h2>
      <div>
        <%= link_to 'New Coffee', new_user_coffee_path, class: 'btn btn-primary mx-1' %>
        <%= link_to 'View All Coffees', user_coffees_path, class: 'btn btn-secondary mx-1' %>
      </div>
    </div>
    <div class="card-body">
      <% if @user_coffees.present? %>
        <ul class="list-group">
          <% @user_coffees.each do |coffee| %>
            <li class="list-group-item">
              <strong>Name:</strong> <%= coffee.coffee.name %> |
              <strong>Weight Left:</strong> <%= coffee.weight_left %>g
              <p><%= coffee.personal_notes %></p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No coffees found.</p>
      <% end %>
    </div>
  </div>

  <!-- Default Accessories Section -->
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>Default Accessories</h2>
      <div>
        <%= link_to 'View All Accessories', accessories_path, class: 'btn btn-secondary mx-1' %>
      </div>
    </div>
    <div class="card-body">
      <% if @default_accessories.present? %>
        <ul class="list-group">
          <% @default_accessories.each do |accessory| %>
            <li class="list-group-item">
              <%= accessory.accessory_type %> | <%= accessory.name %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No default accessories found.</p>
      <% end %>
    </div>
  </div>
</div>
