<div class= "acc-edit-main-container">
  <%= simple_form_for(@accessory) do |f| %>
    <div class="acc-flex-column-center-container">
      <h3><%= @accessory.name %></h3>

      <%= image_tag Accessory.image_path(@accessory.accessory_type), alt: @accessory.name, class: 'accessory-image' %>
      Type :
      <%= f.select :accessory_type, Accessory::ACCESSORY_TYPES, {}, class: 'form-control' %>

      <% if @accessory.accessory_type == "Grinder"%>
        <%= f.input :grinder_max, label: "Max Setting" %>
      <% end %>

      <%= f.input :comments, label: "Comments", as: :text, input_html: { class: 'form-control' } %>

      <div class="new-acc-actions-buttons">
        <%= link_to 'Back', 'javascript:history.back()', class: 'btn btn-outline-secondary', onclick: "if (document.referrer === '') { window.location.href = '#{pages_dashboard_path}'; }" %>
        <%= f.button :submit, 'Update', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
