<%= form_with(model: @accessory, local: true, data: { controller: "accessory", action: "change->accessory#toggleGrinderFields" }) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :accessory_type %>
    <div class="accessory-selection">
      <% Accessory::ACCESSORY_TYPES.each do |type| %>
        <%= image_tag "accessories/#{type.parameterize(separator: '_')}_small.png", alt: type, data: { action: "click->accessory#select", accessory_image_target: "accessoryImage", type: type } %>
      <% end %>
    </div>
    <%= form.hidden_field :accessory_type, id: "accessory_type" %>
  </div>

  <div class="field grinder_fields" style="display: none;" data-target="accessory.grinderFields">
    <%= form.label :grinder_min %>
    <%= form.number_field :grinder_min %>
  </div>

  <div class="field grinder_fields" style="display: none;" data-target="accessory.grinderFields">
    <%= form.label :grinder_max %>
    <%= form.number_field :grinder_max %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Back to Dashboard', pages_dashboard_path, class: 'button' %>
  </div>
<% end %>
