<div class="acc-edit-main-container">

  <div class="actions-buttons">
      <%= form_with model: @accessory, url: accessory_path(@accessory), method: :delete, data: { turbo_confirm: 'Êtes-vous sûr?' } do %>
        <%= button_tag 'Delete', class: 'btn btn-warning' %>
      <% end %>
    </div>

  <%= simple_form_for(@accessory) do |f| %>
    <div class="acc-flex-column-center-container">
      <h3><%= @accessory.name %></h3>

      <%= image_tag Accessory.image_path(@accessory.accessory_type), alt: @accessory.name, class: 'accessory-image' %>

      <div class="form-group">
        <%= f.input :name, label: "Name", input_html: { class: 'form-control' } %>
      </div>

      <% if @accessory.accessory_type == "Grinder" %>
        <%= f.input :grinder_max, label: "Max Setting" %>
      <% end %>

      <%= f.input :comments, label: "Comments", as: :text, input_html: { class: 'form-control' } %>

      <div class="actions-buttons">
        <%= link_to 'Back', 'javascript:history.back()', class: 'btn btn-outline-secondary', onclick: "if (document.referrer === '') { window.location.href = '#{pages_dashboard_path}'; }" %>
        <%= f.button :submit, 'Update', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
