<h1>My Accessories</h1>

<%= link_to 'New Accessory', new_accessory_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessories.each do |accessory| %>
      <tr>
        <td><%= accessory.name %></td>
        <td><%= accessory.accessory_type %></td>
        <td>
          <% if accessory.default %>
            <% brewing_methods = [
              'Aero press',
              'Cold brew',
              'Drip coffee',
              'Espresso',
              'French press',
              'Moka Pot',
              'Pour-Over',
              'Siphon coffee',
              'Turkish coffee',
              'Vietnamese Phin'
            ] %>
            <% if brewing_methods.include?(accessory.accessory_type) %>
              <%= "Brewing method by default" %>
            <% else %>
              <%= "#{accessory.accessory_type} by default" %>
            <% end %>
          <% end %>
        <td><%= link_to 'Show', accessory, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_accessory_path(accessory), class: 'btn btn-warning' %></td>
        <td>
          <%= form_with model: accessory, url: accessory_path(accessory), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'd-inline' do %>
          <%= submit_tag 'Destroy', class: 'btn btn-danger' %>
         <% end %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>
