<div class="acc-index-main-container">
  <h1><%= current_user.nickname %>'s accessories</h1>
  <div class="acc-index-actions-buttons">
    <%= link_to 'Back', pages_dashboard_path, class: 'btn btn-outline-secondary' %>
    <%= link_to 'Add New', new_accessory_path, class: 'btn btn-primary' %>
  </div>

  <div class="acc-index-list">
    <!-- Brewing Methods Section -->
    <div class="acc-index-section">
      <h4>Brewing Methods</h4>
      <% @brewing_methods.each do |accessory| %>
        <div class="acc-index-item-wrapper">
          <%= link_to accessory_path(accessory), class: "acc-index-item" do %>
            <%= image_tag Accessory.image_path(accessory.accessory_type), alt: accessory.name, class: 'acc-index-image' %>
            <div class="acc-index-item-content">
              <h4><%= accessory.name %></h4>
              <p>Type: <%= accessory.accessory_type %></p>
              <% if accessory.accessory_type == 'Grinder' %>
                <p>Grinder Range: <%= accessory.grinder_min %> - <%= accessory.grinder_max %></p>
              <% end %>
              <p><%= accessory.comments %></p>
            </div>
          <% end %>
          <div class="acc-index-delete-button">
            <%= link_to  accessory_path(accessory), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
      <% end %>
    </div>

    <!-- Other Accessories Section -->
    <div class="acc-index-section">
      <h4>Other Accessories</h4>
      <% @other_accessories.each do |accessory| %>
        <div class="acc-index-item-wrapper">
          <%= link_to accessory_path(accessory), class: "acc-index-item" do %>
            <%= image_tag Accessory.image_path(accessory.accessory_type), alt: accessory.name, class: 'acc-index-image' %>
            <div class="acc-index-item-content">
              <h4><%= accessory.name %></h4>
              <p>Type: <%= accessory.accessory_type %></p>
              <% if accessory.accessory_type == 'Grinder' %>
                <p>Grinder Range: <%= accessory.grinder_min %> - <%= accessory.grinder_max %></p>
              <% end %>
              <p><%= accessory.comments %></p>
            </div>
          <% end %>
          <div class="acc-index-delete-button">
            <%= link_to  accessory_path(accessory), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
