<div class="new-accessory-main-container">
  <%= form_with(model: @accessory, local: true, data: { controller: "accessory" }) do |form| %>
    <div class="field">
      <h3>Which kind of accessory?</h3>
      <div class="button-group main-selection" data-accessory-target="buttonGroup">
        <%= button_tag(type: 'button', class: 'accessory-button', data: { action: "click->accessory#showBrewingMethods", accessory_target: "brewingButton" }) do %>
          <%= image_tag "accessories/brewing_method.png", alt: "Brewing Method" %>
        <% end %>
        <%= button_tag(type: 'button', class: 'accessory-button', data: { action: "click->accessory#showOtherAccessories", accessory_target: "otherButton" }) do %>
          <%= image_tag "accessories/other_accessory.png", alt: "Other Accessory" %>
        <% end %>
      </div>
    </div>

    <div class="field" data-accessory-target="brewingMethods" style="display: none;">
      <h3>Brewing Methods</h3>
      <div class="accessory-selection">
        <% Accessory::BREWING_METHODS.each do |type| %>
          <%= image_tag "accessories/#{type.parameterize(separator: '_')}_small.png", alt: type, data: { action: "click->accessory#select", accessory_target: "accessoryImage", type: type } %>
        <% end %>
      </div>
    </div>

    <div class="field" data-accessory-target="otherAccessories" style="display: none;">
      <h3>Other Accessories</h3>
      <div class="accessory-selection">
        <% Accessory::ACCESSORY_TYPES.reject { |type| Accessory::BREWING_METHODS.include?(type) }.each do |type| %>
          <%= image_tag "accessories/#{type.parameterize(separator: '_')}_small.png", alt: type, data: { action: "click->accessory#select", accessory_target: "accessoryImage", type: type } %>
        <% end %>
      </div>
    </div>

    <%= form.hidden_field :accessory_type, id: "accessory_type", data: { accessory_target: "accessoryType" } %>

    <br>
    <div class="field" style="display: none;" data-accessory-target="namefield">
      <%= form.label :name %>
      <%= form.text_field :name, data: { accessory_target: "name" } %>
    </div>
    <br>
    <div class="field grinder_fields" style="display: none;" data-accessory-target="grinderFields">
      <%= form.label :grinder_min %>
      <%= form.number_field :grinder_min %>
    </div>
    <br>
    <div class="field grinder_fields" style="display: none;" data-accessory-target="grinderFields">
      <%= form.label :grinder_max %>
      <%= form.number_field :grinder_max %>
    </div>
    <br>
    <div class="actions-buttons">
      <%= link_to 'Back to Dashboard', pages_dashboard_path, class: 'btn btn-secondary' %>
      <%= form.submit class: 'btn btn-primary' %>

    </div>
  <% end %>
</div>
