<div class="new-acc-main-container">
  <%= form_with(model: @accessory, local: true, data: { controller: "accessory" }) do |form| %>
    <div class="field new-acc-flex-column-center-container">
      <h3>Which kind of accessory?</h3>
      <div class="new-acc-main-buttons-container" data-accessory-target="buttonGroup">
        <%= button_tag(type: 'button', class: 'new-acc-main-button', data: { action: "click->accessory#showBrewingMethods", accessory_target: "brewingButton" }) do %>
          <%= image_tag "accessories/brewing_method.png", alt: "Brewing Method" %>
        <% end %>
        <%= button_tag(type: 'button', class: 'new-acc-main-button', data: { action: "click->accessory#showOtherAccessories", accessory_target: "otherButton" }) do %>
          <%= image_tag "accessories/other_accessory.png", alt: "Other Accessory" %>
        <% end %>
      </div>
    </div>

    <div class="field new-acc-flex-column-center-container" data-accessory-target="brewingMethods" style="display: none;">
      <h3>Brewing Methods</h3>
      <div class="new-acc-type-selection new-acc-flex-row-center-container">
        <% Accessory::BREWING_METHODS.each do |type| %>
          <%= image_tag "accessories/#{type.parameterize(separator: '_')}_small.png", alt: type, data: { action: "click->accessory#select", accessory_target: "accessoryImage", type: type } %>
        <% end %>
      </div>
    </div>

    <div class="field new-acc-flex-column-center-container" data-accessory-target="otherAccessories" style="display: none;">
      <h3>Other Accessories</h3>
      <div class="new-acc-type-selection new-acc-flex-row-center-container">
        <% Accessory::ACCESSORY_TYPES.reject { |type| Accessory::BREWING_METHODS.include?(type) }.each do |type| %>
          <%= image_tag "accessories/#{type.parameterize(separator: '_')}_small.png", alt: type, data: { action: "click->accessory#select", accessory_target: "accessoryImage", type: type } %>
        <% end %>
      </div>
    </div>

    <%= form.hidden_field :accessory_type, id: "accessory_type", data: { accessory_target: "accessoryType" } %>

    <div class="new-acc-flex-column-center-container">
      <div class="field" style="display: none;" data-accessory-target="namefield">
        <div><%= form.label :name, "Give a name to your new accessory" %></div>
        <div><%= form.text_field :name, data: { accessory_target: "name" } %></div>
      </div>

      <div class="field" style="display: none;" data-accessory-target="commentsField">
        <div><%= form.label :comments, "Comments" %></div>
        <div><%= form.text_area :comments, data: { accessory_target: "comments" } %></div>
      </div>

      <div class="field" style="display: none;" data-accessory-target="grinderFields">
        <div><%= form.label :grinder_min, "What is the minimal position?" %></div>
        <div class="input-group new-acc-grinder-fields">
          <div class="input-group-prepend">
            <%= button_tag(type: 'button', class: 'btn btn-outline-secondary', data: { action: "click->accessory#decrementMin", target: "accessory.grinderMinButton" }) do %>
              <i class="fas fa-minus"></i>
            <% end %>
          </div>
          <%= form.number_field :grinder_min, value: 0, placeholder: '0', class: 'form-control prefilled-input', data: { accessory_target: "grinderMinInput" } %>
          <div class="input-group-append">
            <%= button_tag(type: 'button', class: 'btn btn-outline-secondary', data: { action: "click->accessory#incrementMin", target: "accessory.grinderMinButton" }) do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field" style="display: none;" data-accessory-target="grinderFields">
        <div><%= form.label :grinder_max, "What is the maximal position?" %></div>
        <div class="input-group new-acc-grinder-fields">
          <div class="input-group-prepend">
            <%= button_tag(type: 'button', class: 'btn btn-outline-secondary', data: { action: "click->accessory#decrementMax", target: "accessory.grinderMaxButton" }) do %>
              <i class="fas fa-minus"></i>
            <% end %>
          </div>
          <%= form.number_field :grinder_max, value: 30, placeholder: '30', class: 'form-control prefilled-input', data: { accessory_target: "grinderMaxInput" } %>
          <div class="input-group-append">
            <%= button_tag(type: 'button', class: 'btn btn-outline-secondary', data: { action: "click->accessory#incrementMax", target: "accessory.grinderMaxButton" }) do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="new-acc-actions-buttons">
      <%= link_to 'Back to Dashboard', pages_dashboard_path, class: 'btn btn-outline-secondary' %>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
