<div class="new-acc-main-container">
  <div class="actions-buttons">
    <%= form_with model: @accessory, url: accessory_path(@accessory), method: :delete, data: { turbo_confirm: 'Êtes-vous sûr?' } do %>
      <%= button_tag t(:delete), class: 'btn btn-warning' %>
    <% end %>
    <%= link_to edit_accessory_path(@accessory), class: "btn btn-outline-primary" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </div>
  <div class="field acc-flex-column-center-container">
    <h3><%= @accessory.name %></h3><%= image_tag Accessory.image_path(@accessory.accessory_type), alt: @accessory.name, class: 'acc-show-accessory-image' %>
    <p><%= t(:type) %> : <%= @accessory.accessory_type %></p>
    <% if @accessory.accessory_type == "Grinder"%>
      <p><%= t('.grinder_range') %> : <%= @accessory.grinder_min %> - <%= @accessory.grinder_max %> </p>
    <% end %>
    <%= @accessory.comments %>
  </div>

  <div class="actions-buttons">
    <%= link_to t(:back), 'javascript:history.back()', class: 'btn btn-outline-secondary', onclick: "if (document.referrer === '') { window.location.href = '#{pages_dashboard_path}'; }" %>
  </div>
</div>
